@import url('https://fonts.googleapis.com/css?family=Raleway:300,600');

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1.5rem;
  width: 200px;
}

.card > * {
  font-family: 'Raleway', sans-serif;
}

.card__btn {
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 1rem;
  color: blue;
  font-size: 12px;
  font-weight: 600;
  width: 80%;
  padding: .5rem;
}

.card__container {
  background-color: ghostwhite;
  box-sizing: border-box;
  padding: 1rem;
  width: inherit;
}

.card__image {
  height: 200px;
  width: 200px;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card__content--section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__content--label {
  font-size: .5rem;
  text-transform: uppercase;
}