.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.main__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.filter__label {
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.filter__cntrls {
  display: flex;
  flex-flow: row wrap;
  margin-left: 1rem;
}

.filter__cntrls > label {
  display:block;
  flex:1;
  border:1px solid dodgerblue;
  border-right: none;
  color: dodgerblue;
  margin:0;
  padding:.4em;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter__cntrls > #test {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.filter__cntrls > label:last-child {
  border-right:0.5px solid dodgerblue;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.filter__cntrls > input[type="radio"] {
  -webkit-appearance: none;
  margin: 0;
  position: absolute;
}

.filter__cntrls > input[type="radio"]:checked + label {
  background-color: dodgerblue;
  color: white;
}

@media only screen and (min-width : 500px) {
  .main__cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}