header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__bg {
  width: 100%;
  height: 4rem;
  background: #3a7df6;
  position: absolute;
  border-bottom: 3px solid white;
}

.header__circle {
  position: relative;
  background: #3a7df6;
  border-radius: 50%;
  border: 3px solid white;
  width: 55px;
  height: 55px;
  margin-top: 2rem;
  z-index: 2;
}

.fa-telegram-plane {
  margin-top: 13px;
  margin-right: 2px;
}