.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  /*box-shadow: 0 0 25px rgba(135,165,180,0.3);*/
  margin: 1.5rem;
  transition: all .3s ease;
}

@media only screen and (min-width : 500px) {
  .card {
    flex-direction: row;
    height: 200px;
  }

  .card:hover {
    transform: scale(1.05);
  }
}

.card__img {
  height: 100%;
  width: 200px;
}

.card__container {
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  height: 200px;
  width: 200px;
}

.visible {
  display: flex;
  animation: fadein 1.5s ease;
}

.hidden {
  display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.container__row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 90%;
}

.container__row__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container__span--title {
  font-size: 2rem;
  font-weight: 600;
}

.container__span--label {
  color: rgba(0,0,0,0.3);
  font-size: .5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container__btn,
.container__btn:focus {
  border: 0;
  background-color: transparent;
  outline: 0;
}

.container__btn--back-btn {
  color: rgba(0,0,0,0.3);
}

.container__btn--bio {
  background: linear-gradient(to right, #3a7df6, blue);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 1rem;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 80%;
  padding: .5rem;
}

.container__btn--bio:active {
  transform: translateY(2px);
}

.container__bio {
  height: 145px;
  overflow: auto;
}

.container__margin {
  margin-bottom: .3rem;
}

.container__margin--top {
  display: flex;
  width: 100%;
}